
{% set local_ip = inventory_hostname %}

#[Member]
ETCD_NAME="{{ NODE_NAME }}"
ETCD_DATA_DIR="{{ etcd_work_dir }}/data/default.etcd"
ETCD_LISTEN_PEER_URLS="https://{{ local_ip }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ local_ip }}:2379"

#[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ local_ip }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ local_ip }}:2379"
{#获取主机组变量#}
ETCD_INITIAL_CLUSTER="{% for host in groups['etcd'] %}{{ hostvars[host].NODE_NAME }}=https://{{ hostvars[host].inventory_hostname }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_ENABLE_V2="true"

#[security]
CLIENT_CERT_AUTH="true"
ETCD_TRUSTED_CA_FILE="{{ etcd_work_dir }}/cert/ca.pem"
ETCD_CERT_FILE="{{ etcd_work_dir }}/cert/etcd.pem"
ETCD_KEY_FILE="{{ etcd_work_dir }}/cert/etcd-key.pem"
PEER_CLIENT_CERT_AUTH="true"
ETCD_PEER_TRUSTED_CA_FILE="{{ etcd_work_dir }}/cert/ca.pem"
ETCD_PEER_CERT_FILE="{{ etcd_work_dir }}/cert/etcd.pem"
ETCD_PEER_KEY_FILE="{{ etcd_work_dir }}/cert/etcd-key.pem"

#[logging]
ETCD_LOGGER="zap"
#Configures log level. Only supports debug, info, warn, error, panic, or fatal.
ETCD_LOG_LEVEL="warn"