apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ k8s_work_dir }}/cert/ca.pem
    server: {{ KUBE_APISERVER }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: default
    user: admin
  name: kubernetes
current-context: kubernetes
kind: Config
preferences: {}
users:
- name: admin
  user:
    client-certificate: {{ k8s_work_dir }}/cert/admin.pem
    client-key: {{ k8s_work_dir }}/cert/admin-key.pem
