FLANNEL_OPTIONS="-etcd-endpoints={% for host in groups['etcd'] %}https://{{ hostvars[host].inventory_hostname }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
 -v=4 \
 -etcd-cafile={{ k8s_work_dir }}/cert/ca.pem \
 -etcd-certfile={{ k8s_work_dir }}/cert/flannel.pem \
 -etcd-keyfile={{ k8s_work_dir }}/cert/flannel-key.pem \
 -etcd-prefix=/coreos.com/network \
 -iface={{ NIC }} " 
