{% set local_ip = inventory_hostname %}
KUBE_APISERVER_OPTS="--logtostderr=false \
  --v=4 \
  --log-dir={{ k8s_work_dir }}/logs \
  --etcd-servers={% for host in groups['etcd'] %}https://{{ hostvars[host].inventory_hostname }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
  --bind-address={{ local_ip }} \
  --advertise-address={{ local_ip }} \
  --allow-privileged=true \
  --anonymous-auth=false \
  --runtime-config=api/all=true \
  --endpoint-reconciler-type=lease \
  --service-cluster-ip-range={{ SERVICE_CIDR }} \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --authorization-mode=RBAC,Node \
  --enable-bootstrap-token-auth=true \
  --token-auth-file={{ k8s_work_dir }}/conf/token.csv \
  --service-node-port-range={{ SERVICE_PORT_RANGE }} \
  --kubelet-client-certificate={{ k8s_work_dir }}/cert/server.pem \
  --kubelet-client-key={{ k8s_work_dir }}/cert/server-key.pem \
  --tls-cert-file={{ k8s_work_dir }}/cert/server.pem  \
  --tls-private-key-file={{ k8s_work_dir }}/cert/server-key.pem \
  --client-ca-file={{ k8s_work_dir }}/cert/ca.pem \
  --service-account-issuer=https://kubernetes.default.svc.cluster.local \
  --service-account-key-file={{ k8s_work_dir }}/cert/ca-key.pem \
  --service-account-signing-key-file={{ k8s_work_dir }}/cert/ca-key.pem \
  --etcd-cafile={{ k8s_work_dir }}/cert/ca.pem \
  --etcd-certfile={{ k8s_work_dir }}/cert/server.pem \
  --etcd-keyfile={{ k8s_work_dir }}/cert/server-key.pem \
  --requestheader-client-ca-file={{ k8s_work_dir }}/cert/ca.pem \
  --requestheader-allowed-names= \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --proxy-client-cert-file={{ k8s_work_dir }}/cert/metrics-server.pem \
  --proxy-client-key-file={{ k8s_work_dir }}/cert/metrics-server-key.pem \
  --enable-aggregator-routing=true \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path={{ k8s_work_dir }}/logs/k8s-audit.log"
