apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ k8s_work_dir }}/cert/ca.pem
    server: {{ KUBE_APISERVER }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:kube-controller-manager
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:kube-controller-manager
  user:
    client-certificate: {{ k8s_work_dir }}/cert/kube-controller-manager.pem
    client-key: {{ k8s_work_dir }}/cert/kube-controller-manager-key.pem
